* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-family: sans-serif;
}

body {
    background-image: url('cyberpunk.jpg');  
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.711);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

header {
    text-align: center;
}

header img {
    margin-top: 20px;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.515);
    object-fit: cover;
}

header h1 {
    margin-top: 10px;
}

header p {
    font-size: 0.8em;
    margin-top: 5px;
}

.buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
}

button {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(31, 31, 31);
    border-radius: 7px;
    width: 300px;
    margin: 10px auto;
    border: 1px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.515);
}

.ig {
    width: 20px;
}

.yt {
    width: 20px;
}

.wa {
    width: 20px;
}

.fb {
    width: 20px;
}

a {
    text-decoration: none;
}

button p { 
    font-size: 1.2em;
    margin: 0 auto;
}

button:hover {
    transform: scale(1.1);
    font-weight: bolder;
    cursor: pointer;
}

footer {
    text-align: center;
    margin: 30px;
}

footer cite {
    text-decoration: none;
}

footer cite:hover {
    font-weight: bolder;
    text-decoration: underline;
    cursor: pointer;
}
